.sidebar {
}

.sidebar.open {
}

.background {
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
    color: #cc0000;
}
.close {
}

.close img {
}
